/* Base */

html, body {
  height: 100%;
  padding: 0; 
  background-color: black;
  background-image: url('pics/background.gif');
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #303030;
  font: Verdana, Arial, Sans-Serif;
}

main {
  margin: 0 auto;
  width: 700px;
  position: relative;
}

article {
  text-align: justify;
  font-family: inherit;
  font-size: 100%;
  color: #c0c0c0;
}

header {
  color: #cfcfcf;
  text-align: center;
  font-family: inherit;
}

footer {
  text-align: center;
  padding-bottom: 10px;
  color: #cfcfcf;
}


/* specifics */

img.zweefLinks {
  float: left;
  margin-right: 15px;
}

.smalltext {
  font-size: 0.7em;
}

a {
  color: skyblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

article ul {
  list-style-type: none;
}


article ul li:before {
  content: '';
  display: inline-block;
  height: 13px;
  width: 15px;
  background-size: 15px;
  background-image: url("pics/bullet point.png");
  background-repeat: no-repeat;
  margin-right: 5px;
}


/* nav */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #8d721e;
  overflow: hidden;
}

nav ul li {
  float: left;
  font-family: inherit;
  color: #000000;
}

nav li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #800000;
}

nav li a.active {
  background-color: #580202;
}


/* text CSS */

.left {
  float: left;
  margin-right: 15px;
}

.right {
  float: right;
  margin-left: 15px;
}


/* images specifics */

#logo {
  width: 100%;
}

#width50 {
  width: 50%;
}

#covers {
  width: 30%
}

#skyrim1 {
  width: 40%;
}

#skyrim2 {
  width: 100%;
  margin-top: 10px;
}


/* Nav Dropdown */

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 100%;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
  background-color: #800000;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #8d721e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: inherit;
}

.dropdown-content a:hover {
  background-color: #800000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#active {
  background-color: #580202;
}


/* Fixes */

.p_fix {
  height: 270px;
}