/* Base */

html, body {
  height: 100%;
  padding: 0; 
  background-color: black;
  background-image: url('pics/background.gif');
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #303030;
  font: Verdana, Arial, Sans-Serif;
}

main {
  margin: 0 auto;
  width: 700px;
  position: relative;
}

article {
  text-align: justify;
  font-family: inherit;
  font-size: 100%;
  color: #c0c0c0;
	width: 100%;
	clear: both;
}

header {
  color: #cfcfcf;
  text-align: center;
  font-family: inherit;
}

footer {
  text-align: center;
  padding-bottom: 10px;
  color: #cfcfcf;
}

img {
	vertical-align: middle;
}


/* specifics */

.smalltext {
  font-size: 0.7em;
}

a:hover {
  text-decoration: underline;
}

article ul {
  list-style-type: none;
}

article ul li:before {
  content: '';
  display: inline-block;
  height: 15px;
  width: 10px;
  background-size: 10px;
  background-image: url("pics/daedric logo.png");
  background-repeat: no-repeat;
  margin-right: 5px;
}

table {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(pics/border.png) 30 round;
}

ol {
	list-style-type: upper-roman;
}

h3 {
	text-align: center;
}


/* nav */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #8d721e;
  overflow: hidden;
}

nav ul li {
  float: left;
  font-family: inherit;
  color: #000000;
}

nav li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #800000;
}

nav li a.active {
  background-color: #580202;
}

#active {
  background-color: #580202;
}


/* text CSS */

#right {
  float: right;
	width: 335px;
}


/* Fixes */

.p_fix {
  height: 270px;
}

#caption-text_fix {
	color: #161616;
}


/* images specifics */

.left {
  float: left;
  margin-right: 15px;
}

.right {
  float: right;
  margin-left: 15px;
}

#todd {
	margin-top: 15px;
  float: left;
  width: 49%;
	margin-right: 2px;
}

#todd-text {
	float: right;
  width: 50%;
  font-family: inherit;
}

#logo {
  width: 100%;
}

#width50 {
  width: 50%;
}

#covers {
  width: 30%;
  float: left;
  margin-right: 15px;
}

#skyrim1 {
  width: 40%;
}

#skyrim2 {
  width: 100%;
  margin-top: 10px;
}

.alphabet {
	width: 100%;
	vertical-align: center;
}

.small-logo {
	height: 20px;
	margin-left: 5px;
	margin-right: 5px;
}


/* Nav Dropdown */

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 100%;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
  background-color: #800000;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #8d721e;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
	max-width: 100%;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: inherit;
}

.dropdown-content a:hover {
  background-color: #800000;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Slideshow */

* {
	box-sizing: border-box;
}

.slides {
	display: none;
}

.container {
  max-width: 700px;
  position: relative;
  margin: auto;
}

.caption-text {
  color: #c0c0c0;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: ##c0c0c0;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-active {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 700pxpx) {
  .caption-text {font-size: 11px}
}